<form (ngSubmit)="onSubmit(form)" #form="ngForm">
  <h2>Login</h2>

  <div class="control-row">
    <div class="control no-margin">
      <label for="email">Email</label>
      <input
        id="email"
        type="email"
        ngModel
        name="email"
        email
        required
        #email="ngModel"
      />
    </div>

    <div class="control no-margin">
      <label for="password">Password</label>
      <input
        id="password"
        type="password"
        ngModel
        name="password"
        password
        required
        minlength="6"
        #password="ngModel"
      />
    </div>

    <button class="button">Login</button>
  </div>
</form>
