<div class="container text-center">
  <h1 [ngStyle]="{color:'grey'}"> Do you want to meet Batman ?</h1>
  <h2 [ngStyle]="{color:getColor()}"> {{ getBatmanInfo() }}</h2>
  <h3 *ngIf="batmanStatus === false" [ngStyle]="{color : 'grey'}">
    Try again in the night 
  </h3>
  <h3 *ngIf="batmanStatus === true" [ngStyle]="{color : 'grey'}">
    Try again in the day 
  </h3>
  <button [ngClass]="batmanStatus === false ? 'btn btn-success' : 'btn btn-danger'"
    (click)="getBatmanStatus()">
    TRY AGAIN
  </button>
  <h4 *ngFor="let try of tries" 
  [ngStyle]="{color: 'grey'}">
    {{try}}
</h4>
</div>
